body{
    min-width: 400px;
    max-height: 500px;
    font-family: 'Cabin', sans-serif;
}
.accordion,.btn{
    display: block;
    margin-top: -6%;
}
#opentext{
    margin-top: 5%;
}
img,#opentext{
    display: none;
}
